---
import employees from '@data/employees.json';
import DynamicImage from '@components/helpers/DynamicImage.astro';
import DynamicIcon from '@components/helpers/DynamicIcon.astro';
---

<section class="team-grid mt-30 mx-auto px-20 w-full max-w-5xl">
    <div class="flex flex-row gap-10 justify-between grid-span-2">
    <div class="team-content w-2/3">
        <h1 class="text-5xl font-cabin font-bold">
            Meet Our Great Team Members        
        </h1>
        <p class="text-neutral-800 font-lato text-md leading-6 max-w-lg">
            Welcome to our amazing team! We are a group of passionate individuals dedicated to excellence and innovation. 
            Each member brings unique skills and experiences, working together to achieve our goals. 
            Join us as we embark on exciting projects and create lasting impacts.
        </p>
    </div>
    <a href="#" class="bg-neutral-800 text-neutral-100 w-fit px-6 py-3 rounded-3xl font-lato font-bold text-xs text-center place-self-end hover:bg-neutral-50 hover:text-neutral-800 hover:border-neutral-800 border border-transparent transition-all duration-300">Join our team</a>
    </div>
    <div class="team-images">
        {
            employees.map((employee) => (
                <div class="team-member">
                    <a href={`/team/${employee.slug}`} class="block w-fit h-fit hover:opacity-80 transition-all duration-300">
                    <div class="w-full h-full rounded-2xl overflow-hidden">
                        <DynamicImage
                            imagePath={employee.img}
                            altText={employee.name}
                            width={200}
                            height={200}
                        />
                        <p class=`font-lato rounded-xl px-2 text-sm absolute place-self-end translate-y-[-40%] translate-x-[-10%] z-10 ${employee.title.toLowerCase().includes('ceo') ? 'bg-amber-300 text-neutral-800' : 'bg-neutral-800 text-neutral-100'}`>
                            {employee.title}
                        </p>
                    </div>
                    <h3 class="text-neutral-800 font-cabin text-2xl font-bold">
                        {employee.name}
                    </h3>
                    <p class="text-neutral-800 font-lato text-sm hyphens-auto">
                        {employee.description}
                    </p>
                    <div class="flex flex-row gap-2 items-center justify-center">
                        {employee.social_links.map((link) => (
                            <a href={link.url} class="text-neutral-800 font-lato text-sm">
                                <DynamicIcon name={link.icon} class="w-4 h-4" />
                            </a>
                        ))}
                    </div> 
                    </a>
                </div>
            ))
        }
    </div>
</section>
